<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>store/7500000.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,542},{134,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,44}}</string>
                <key>sourceSize</key>
                <string>{134,44}</string>
            </dict>
            <key>store/JiaHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,838},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>store/JiaHao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,838},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>store/anNiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,575},{119,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,51}}</string>
                <key>sourceSize</key>
                <string>{119,51}</string>
            </dict>
            <key>store/baoShi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,469},{195,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,71}}</string>
                <key>sourceSize</key>
                <string>{195,71}</string>
            </dict>
            <key>store/baoShi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,396},{195,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,71}}</string>
                <key>sourceSize</key>
                <string>{195,71}</string>
            </dict>
            <key>store/baoShiTeQuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,193},{102,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>store/daoJu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,199},{195,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,71}}</string>
                <key>sourceSize</key>
                <string>{195,71}</string>
            </dict>
            <key>store/daoJu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{195,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,71}}</string>
                <key>sourceSize</key>
                <string>{195,71}</string>
            </dict>
            <key>store/dengGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,585},{190,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,176}}</string>
                <key>sourceSize</key>
                <string>{190,176}</string>
            </dict>
            <key>store/dingCenJinBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,761},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>store/duiJiang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,763},{195,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,71}}</string>
                <key>sourceSize</key>
                <string>{195,71}</string>
            </dict>
            <key>store/duiJiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,912},{195,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,71}}</string>
                <key>sourceSize</key>
                <string>{195,71}</string>
            </dict>
            <key>store/duiJiangXinXi.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,836},{169,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,53}}</string>
                <key>sourceSize</key>
                <string>{169,53}</string>
            </dict>
            <key>store/duiJiangXinXi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,836},{169,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,53}}</string>
                <key>sourceSize</key>
                <string>{169,53}</string>
            </dict>
            <key>store/fenGeXian.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{3,581}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,581}}</string>
                <key>sourceSize</key>
                <string>{3,581}</string>
            </dict>
            <key>store/jiangQuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,985},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{27,39}</string>
            </dict>
            <key>store/jinBi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,839},{195,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,71}}</string>
                <key>sourceSize</key>
                <string>{195,71}</string>
            </dict>
            <key>store/jinBi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{195,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,71}}</string>
                <key>sourceSize</key>
                <string>{195,71}</string>
            </dict>
            <key>store/liJiGouMai.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,297},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>store/shanChu.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,787},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>store/shanChu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,738},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>store/suChongKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{189,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,46}}</string>
                <key>sourceSize</key>
                <string>{189,46}</string>
            </dict>
            <key>store/tiaoWen.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{835,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,57}}</string>
                <key>sourceSize</key>
                <string>{835,57}</string>
            </dict>
            <key>store/tieJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{890,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,65}}</string>
                <key>sourceSize</key>
                <string>{890,65}</string>
            </dict>
            <key>store/v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,678},{58,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,81}}</string>
                <key>sourceSize</key>
                <string>{58,81}</string>
            </dict>
            <key>store/v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,657},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>store/v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,778},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>store/v4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,575},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>store/v5.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,696},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>store/xingGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,69},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>store/yiGouMai.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,384},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>store/youBianTiXingGuiTai.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,384},{189,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,64}}</string>
                <key>sourceSize</key>
                <string>{189,64}</string>
            </dict>
            <key>store/youBianTiXingGuiTai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,193},{189,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,64}}</string>
                <key>sourceSize</key>
                <string>{189,64}</string>
            </dict>
            <key>store/zhongJianTiXingGuiTai.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{189,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,64}}</string>
                <key>sourceSize</key>
                <string>{189,64}</string>
            </dict>
            <key>store/zhongJianTiXingGuiTai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,193},{189,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,64}}</string>
                <key>sourceSize</key>
                <string>{189,64}</string>
            </dict>
            <key>store/zuanShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,445},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>store/zuanShiDa.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>store/zuoBianTiXingGuiTai.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{189,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,64}}</string>
                <key>sourceSize</key>
                <string>{189,64}</string>
            </dict>
            <key>store/zuoBianTiXingGuiTai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{189,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,64}}</string>
                <key>sourceSize</key>
                <string>{189,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d3650cec2c47c7b4bd6ef45fe6166a3$</string>
            <key>textureFileName</key>
            <string>store.png</string>
        </dict>
    </dict>
</plist>
