<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,312},{161,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,60}}</string>
                <key>sourceSize</key>
                <string>{163,60}</string>
            </dict>
            <key>pz_104_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{111,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,148}}</string>
                <key>sourceSize</key>
                <string>{113,148}</string>
            </dict>
            <key>pz_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>pz_133.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,250},{161,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,60}}</string>
                <key>sourceSize</key>
                <string>{163,60}</string>
            </dict>
            <key>pz_136.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,188},{161,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,60}}</string>
                <key>sourceSize</key>
                <string>{163,60}</string>
            </dict>
            <key>pz_139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{161,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,60}}</string>
                <key>sourceSize</key>
                <string>{163,60}</string>
            </dict>
            <key>pz_141.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,126},{161,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,60}}</string>
                <key>sourceSize</key>
                <string>{163,60}</string>
            </dict>
            <key>pz_143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{161,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,60}}</string>
                <key>sourceSize</key>
                <string>{163,60}</string>
            </dict>
            <key>pz_145.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,250},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pz_148.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{161,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,60}}</string>
                <key>sourceSize</key>
                <string>{163,60}</string>
            </dict>
            <key>pz_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,64},{161,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,60}}</string>
                <key>sourceSize</key>
                <string>{163,60}</string>
            </dict>
            <key>pz_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{161,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,60}}</string>
                <key>sourceSize</key>
                <string>{163,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>backGame.png</string>
            <key>size</key>
            <string>{380,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab91eba3270c763ad2c368ba39c28476$</string>
            <key>textureFileName</key>
            <string>backGame.png</string>
        </dict>
    </dict>
</plist>
