<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LT_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,446},{129,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,62}}</string>
                <key>sourceSize</key>
                <string>{129,62}</string>
            </dict>
            <key>LT_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,446},{129,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,62}}</string>
                <key>sourceSize</key>
                <string>{129,62}</string>
            </dict>
            <key>bgp.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,372},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>bp.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,298},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>bpa.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,446},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,372},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>gza.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,298},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>gzap.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,224},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,224},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>kp.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,150},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>qp.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,150},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>roomNewFollowAll01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>roomNewFollowAll02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>ww.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,76},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,76},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>z.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newBtns.png</string>
            <key>size</key>
            <string>{558,558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8c4672a369077e725b329b599392604$</string>
            <key>textureFileName</key>
            <string>newBtns.png</string>
        </dict>
    </dict>
</plist>
