<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roomChat/anNiu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,878},{66,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,290}}</string>
                <key>sourceSize</key>
                <string>{66,290}</string>
            </dict>
            <key>roomChat/anNiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,810},{66,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,290}}</string>
                <key>sourceSize</key>
                <string>{66,290}</string>
            </dict>
            <key>roomChat/biaoQingAnNiu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,742},{66,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,290}}</string>
                <key>sourceSize</key>
                <string>{66,290}</string>
            </dict>
            <key>roomChat/biaoQingAnNiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,674},{66,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,290}}</string>
                <key>sourceSize</key>
                <string>{66,290}</string>
            </dict>
            <key>roomChat/faSong0.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,810},{114,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,56}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>roomChat/faSong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,674},{114,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,56}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>roomChat/fenGeXian.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,670},{367,2}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{367,2}}</string>
                <key>sourceSize</key>
                <string>{367,78}</string>
            </dict>
            <key>roomChat/liaoTianChuangKou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,666}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,666}}</string>
                <key>sourceSize</key>
                <string>{438,666}</string>
            </dict>
            <key>roomChat/shuRuKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{274,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,57}}</string>
                <key>sourceSize</key>
                <string>{274,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roomChat.png</string>
            <key>size</key>
            <string>{442,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be4d43be22d5d36f6cb1824cca75bbda$</string>
            <key>textureFileName</key>
            <string>roomChat.png</string>
        </dict>
    </dict>
</plist>
