<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoye01.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{222,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,65}}</string>
                <key>sourceSize</key>
                <string>{222,65}</string>
            </dict>
            <key>baoye02.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,226},{222,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,65}}</string>
                <key>sourceSize</key>
                <string>{222,65}</string>
            </dict>
            <key>caliyouqian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,450},{222,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,65}}</string>
                <key>sourceSize</key>
                <string>{222,65}</string>
            </dict>
            <key>caliyouqian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{222,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,65}}</string>
                <key>sourceSize</key>
                <string>{222,65}</string>
            </dict>
            <key>commonBackButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,920},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>commonBackButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,920},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>commonBackButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,920},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>commonBuy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,674},{102,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,56}}</string>
                <key>sourceSize</key>
                <string>{102,56}</string>
            </dict>
            <key>commonBuy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,679},{102,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,56}}</string>
                <key>sourceSize</key>
                <string>{102,56}</string>
            </dict>
            <key>commonBuyLabel01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{134,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,60}}</string>
                <key>sourceSize</key>
                <string>{134,60}</string>
            </dict>
            <key>commonBuyLabel02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,863},{132,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{132,56}</string>
            </dict>
            <key>commonCancle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,509},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>commonCancle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>commonChangeAccount01.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,541},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>commonChangeAccount02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,495},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>commonChangeCard01.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,231},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>commonChangeCard02.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,515},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>commonChangeHead01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,880},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>commonChangeHead02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,880},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>commonChatSend01.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,478},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>commonChatSend02.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,432},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>commonChongzhi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,626},{149,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,66}}</string>
                <key>sourceSize</key>
                <string>{149,66}</string>
            </dict>
            <key>commonChongzhi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,604},{149,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,66}}</string>
                <key>sourceSize</key>
                <string>{149,66}</string>
            </dict>
            <key>commonCloseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,191},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>commonCloseButtonGolden.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,691},{89,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{89,91}</string>
            </dict>
            <key>commonCloseQuad.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,460},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>commonCloseQuad11.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,920},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>commonContinue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,299},{272,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,76}}</string>
                <key>sourceSize</key>
                <string>{272,76}</string>
            </dict>
            <key>commonContinue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{272,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,76}}</string>
                <key>sourceSize</key>
                <string>{272,76}</string>
            </dict>
            <key>commonFanKui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,265},{249,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,57}}</string>
                <key>sourceSize</key>
                <string>{249,57}</string>
            </dict>
            <key>commonFanKui02.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,546},{249,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,57}}</string>
                <key>sourceSize</key>
                <string>{249,57}</string>
            </dict>
            <key>commonFastBegin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,558},{149,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,66}}</string>
                <key>sourceSize</key>
                <string>{149,66}</string>
            </dict>
            <key>commonFastBegin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,283},{149,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,66}}</string>
                <key>sourceSize</key>
                <string>{149,66}</string>
            </dict>
            <key>commonFastChong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,218},{189,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,72}}</string>
                <key>sourceSize</key>
                <string>{189,72}</string>
            </dict>
            <key>commonFastChong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,144},{189,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,72}}</string>
                <key>sourceSize</key>
                <string>{189,72}</string>
            </dict>
            <key>commonFullAccount01.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{265,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,85}}</string>
                <key>sourceSize</key>
                <string>{265,85}</string>
            </dict>
            <key>commonFullAccount02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,573},{265,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,85}}</string>
                <key>sourceSize</key>
                <string>{265,85}</string>
            </dict>
            <key>commonGameRule01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,295},{249,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,57}}</string>
                <key>sourceSize</key>
                <string>{249,57}</string>
            </dict>
            <key>commonGameRule02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,295},{249,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,57}}</string>
                <key>sourceSize</key>
                <string>{249,57}</string>
            </dict>
            <key>commonGoQiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,351},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>commonGoQiang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,840},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>commonGoldLaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,745},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>commonLogin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,292},{187,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,75}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>commonLogin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{187,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,75}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>commonRightGo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,858},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>commonRightGo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,821},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>commonSaveChange01.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,415},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>commonSaveChange02.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,369},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>commonSelectPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,269},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>commonSelectSlot.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,269},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>commonSend01.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,478},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>commonSend02.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,432},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>commonShare01.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{261,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,73}}</string>
                <key>sourceSize</key>
                <string>{261,73}</string>
            </dict>
            <key>commonShare02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{261,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,73}}</string>
                <key>sourceSize</key>
                <string>{261,73}</string>
            </dict>
            <key>commonSure01.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>commonSure02.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,231},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>commonUse01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,516},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>commonUse02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>commonWenHao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,460},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>commonWenHao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,738},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{43,43}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>commonWenHaoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,460},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>common_update01.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,782},{88,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{88,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>freeSignIn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,818},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>freeSignIn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,796},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>freeSignIn03.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,756},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>goChouJiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,734},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>goChouJiang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,694},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>jiaoWoYiBa0.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,783},{204,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,58}}</string>
                <key>sourceSize</key>
                <string>{204,58}</string>
            </dict>
            <key>jiaoWoYiBa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,783},{204,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,58}}</string>
                <key>sourceSize</key>
                <string>{204,58}</string>
            </dict>
            <key>naqubaocou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,226},{222,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,65}}</string>
                <key>sourceSize</key>
                <string>{222,65}</string>
            </dict>
            <key>naqubaocou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,455},{222,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,65}}</string>
                <key>sourceSize</key>
                <string>{222,65}</string>
            </dict>
            <key>nextYue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{222,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,65}}</string>
                <key>sourceSize</key>
                <string>{222,65}</string>
            </dict>
            <key>nextYue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,231},{222,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,65}}</string>
                <key>sourceSize</key>
                <string>{222,65}</string>
            </dict>
            <key>outGet01.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,672},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>outGet02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{736,70},{189,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,72}}</string>
                <key>sourceSize</key>
                <string>{189,72}</string>
            </dict>
            <key>outGet02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,671},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>outGet03.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,541},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>qianDao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,226},{219,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,61}}</string>
                <key>sourceSize</key>
                <string>{219,61}</string>
            </dict>
            <key>reportButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,269},{120,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,24}}</string>
                <key>sourceSize</key>
                <string>{120,24}</string>
            </dict>
            <key>rmbvipExp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{288,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,18}}</string>
                <key>sourceSize</key>
                <string>{288,18}</string>
            </dict>
            <key>rmbvipExp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,25}}</string>
                <key>sourceSize</key>
                <string>{295,25}</string>
            </dict>
            <key>signIn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,226},{219,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,61}}</string>
                <key>sourceSize</key>
                <string>{219,61}</string>
            </dict>
            <key>signIn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,450},{219,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,61}}</string>
                <key>sourceSize</key>
                <string>{219,61}</string>
            </dict>
            <key>toGetit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{199,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,66}}</string>
                <key>sourceSize</key>
                <string>{199,66}</string>
            </dict>
            <key>toGetit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{199,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,66}}</string>
                <key>sourceSize</key>
                <string>{199,66}</string>
            </dict>
            <key>toRecharge01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,796},{199,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,66}}</string>
                <key>sourceSize</key>
                <string>{199,66}</string>
            </dict>
            <key>toRecharge02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,797},{199,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,66}}</string>
                <key>sourceSize</key>
                <string>{199,66}</string>
            </dict>
            <key>vipPrivilege.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,745},{117,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,47}}</string>
                <key>sourceSize</key>
                <string>{117,47}</string>
            </dict>
            <key>wohuiwan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,794},{204,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,58}}</string>
                <key>sourceSize</key>
                <string>{204,58}</string>
            </dict>
            <key>wohuiwan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,794},{204,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,58}}</string>
                <key>sourceSize</key>
                <string>{204,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newCommon.png</string>
            <key>size</key>
            <string>{1019,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61b9797bfeb7b7538d4467e8bd8d3138:1/1$</string>
            <key>textureFileName</key>
            <string>newCommon.png</string>
        </dict>
    </dict>
</plist>
