<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_fire01.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,575},{191,186}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{191,186}}</string>
                <key>sourceSize</key>
                <string>{193,190}</string>
            </dict>
            <key>game_fire02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{190,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{190,186}}</string>
                <key>sourceSize</key>
                <string>{192,190}</string>
            </dict>
            <key>game_fire03.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,387},{191,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{191,186}}</string>
                <key>sourceSize</key>
                <string>{191,190}</string>
            </dict>
            <key>game_fire04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{191,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,190}}</string>
                <key>sourceSize</key>
                <string>{191,190}</string>
            </dict>
            <key>game_fire05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{190,191}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{190,191}}</string>
                <key>sourceSize</key>
                <string>{192,193}</string>
            </dict>
            <key>game_fire06.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{191,191}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{191,191}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>game_fire07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,191}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{191,191}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>game_fire08.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,195},{190,191}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{190,191}}</string>
                <key>sourceSize</key>
                <string>{192,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_fire.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8638184d1666db15c11650bfa9b73e4d$</string>
            <key>textureFileName</key>
            <string>game_fire.png</string>
        </dict>
    </dict>
</plist>
