<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>account_ready01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,125},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>account_ready02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>account_switch01.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,125},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>account_switch02.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{227,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,65}</string>
            </dict>
            <key>baoxiang_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,537},{69,61}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{69,61}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>baoxiang_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,682},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>danzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,613},{57,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,25}}</string>
                <key>sourceSize</key>
                <string>{57,25}</string>
            </dict>
            <key>goldenFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,607},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>roomAllinButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,672},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomAllinButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,528},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomAllinButton03.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,596},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomBackHall01.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,527},{151,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,61}}</string>
                <key>sourceSize</key>
                <string>{151,61}</string>
            </dict>
            <key>roomBackHall02.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,374},{151,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,61}}</string>
                <key>sourceSize</key>
                <string>{151,61}</string>
            </dict>
            <key>roomBack_backHall01.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,296},{187,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,72}}</string>
                <key>sourceSize</key>
                <string>{187,72}</string>
            </dict>
            <key>roomBack_backHall02.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,222},{187,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,72}}</string>
                <key>sourceSize</key>
                <string>{187,72}</string>
            </dict>
            <key>roomBack_cancle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,294},{189,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,72}}</string>
                <key>sourceSize</key>
                <string>{189,72}</string>
            </dict>
            <key>roomBack_cancle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,220},{189,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,72}}</string>
                <key>sourceSize</key>
                <string>{189,72}</string>
            </dict>
            <key>roomBack_changeDesk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,354},{189,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,72}}</string>
                <key>sourceSize</key>
                <string>{189,72}</string>
            </dict>
            <key>roomBack_changeDesk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,69},{189,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,72}}</string>
                <key>sourceSize</key>
                <string>{189,72}</string>
            </dict>
            <key>roomCaiPiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,373},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>roomCardFanBei01.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,680},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>roomCardFanBei02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,638},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>roomCardHuanPai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,638},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>roomCardHuanPai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,639},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>roomCardJinBi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,550},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>roomCardJinBi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,545},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>roomChatButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,676},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>roomChatButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,748},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{45,37}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>roomCloseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,467},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>roomCompareButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,533},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomCompareButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,531},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomCompareButton03.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,520},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomEnterReady01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,143},{187,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,75}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>roomEnterReady02.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,143},{187,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,75}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>roomFastBuyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,198},{151,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{151,61}}</string>
                <key>sourceSize</key>
                <string>{155,63}</string>
            </dict>
            <key>roomFastBuyButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,220},{151,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{151,61}}</string>
                <key>sourceSize</key>
                <string>{155,63}</string>
            </dict>
            <key>roomFoldButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,374},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomFoldButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,444},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomFoldButton03.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,368},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomFollowAll01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{194,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,74}}</string>
                <key>sourceSize</key>
                <string>{194,74}</string>
            </dict>
            <key>roomFollowAll02.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,125},{194,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,74}}</string>
                <key>sourceSize</key>
                <string>{194,74}</string>
            </dict>
            <key>roomFollowButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,69},{194,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,74}</string>
            </dict>
            <key>roomFollowButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,354},{194,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,74}</string>
            </dict>
            <key>roomFollowButton03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{194,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,74}</string>
            </dict>
            <key>roomMyFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,121}}</string>
                <key>sourceSize</key>
                <string>{243,121}</string>
            </dict>
            <key>roomOtherFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,69},{126,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,155}}</string>
                <key>sourceSize</key>
                <string>{126,155}</string>
            </dict>
            <key>roomRaiseButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,379},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomRaiseButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,455},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomRaiseButton03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,379},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomSeeButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,303},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomSeeButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,220},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomSeeButton03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,69},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>roomShopButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,676},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>roomShopButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,733},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{44,44}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>roomTask01.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,441},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>roomTask02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,687},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>room_cardType01.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,495},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>room_cardType02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,733},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,44}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>room_change_card01.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{86,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,109}}</string>
                <key>sourceSize</key>
                <string>{86,109}</string>
            </dict>
            <key>room_change_card02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,644},{80,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>room_money1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,734},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>room_money2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,755},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>room_money3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,755},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>room_ready01.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,226},{170,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,75}}</string>
                <key>sourceSize</key>
                <string>{170,75}</string>
            </dict>
            <key>room_ready02.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,145},{170,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,75}}</string>
                <key>sourceSize</key>
                <string>{170,75}</string>
            </dict>
            <key>room_rmb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,747},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>room_rmb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,640},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>room_rmb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,748},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>room_setting01.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,621},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>room_setting02.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,734},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{45,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>room_tip_allin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,586},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_allin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,567},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_call_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,532},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_call_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,513},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_cmp_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,676},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_cmp_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,459},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_fold.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,553},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>room_tip_fold_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,478},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_fold_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,405},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,732},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>room_tip_raise_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,351},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_raise_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,370},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_see.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,732},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>room_tip_see_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,424},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_see_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,370},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>room_tip_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,732},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>room_vs_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,113},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>room_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,748},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>room_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,640},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>room_win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,640},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>roonActivity01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,678},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>roonActivity02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,748},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{42,39}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>roundLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,750},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>timeClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,608},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>tip_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{211,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,65}}</string>
                <key>sourceSize</key>
                <string>{211,65}</string>
            </dict>
            <key>totalBetFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{264,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,39}}</string>
                <key>sourceSize</key>
                <string>{264,39}</string>
            </dict>
            <key>totalBetLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,321},{61,31}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{61,31}}</string>
                <key>sourceSize</key>
                <string>{79,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newRoom.png</string>
            <key>size</key>
            <string>{1019,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90ade9942f1c5a9369e685c03b2e636:1/1$</string>
            <key>textureFileName</key>
            <string>newRoom.png</string>
        </dict>
    </dict>
</plist>
