<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>room/b.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1956},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>room/bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1956},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>room/bgp.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1892},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/bp.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1829},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/bpa.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1766},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/dqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{185,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,36}}</string>
                <key>sourceSize</key>
                <string>{185,36}</string>
            </dict>
            <key>room/duiHuanJinBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,498},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>room/duiHuanJinBi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,420},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>room/followAll01.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1138},{175,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,59}}</string>
                <key>sourceSize</key>
                <string>{175,59}</string>
            </dict>
            <key>room/followAll02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1077},{175,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,59}}</string>
                <key>sourceSize</key>
                <string>{175,59}</string>
            </dict>
            <key>room/gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1703},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/gza.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1640},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/gzaq.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1577},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{142,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,181}}</string>
                <key>sourceSize</key>
                <string>{142,181}</string>
            </dict>
            <key>room/huanzhuo0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>room/huanzhuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1014},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>room/i.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1055},{139,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,177}}</string>
                <key>sourceSize</key>
                <string>{139,177}</string>
            </dict>
            <key>room/j.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,670},{102,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>room/jinBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,520},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>room/jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/kp.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1514},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/ls.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,701},{185,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,36}}</string>
                <key>sourceSize</key>
                <string>{185,36}</string>
            </dict>
            <key>room/m.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,226},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>room/mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,226},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>room/n.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,170},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>room/nn.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,114},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>room/o.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,58},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>room/oo.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>room/p.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1956},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>room/paiXing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,499}}</string>
                <key>sourceSize</key>
                <string>{279,499}</string>
            </dict>
            <key>room/paiXingXuanZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{255,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,76}}</string>
                <key>sourceSize</key>
                <string>{255,76}</string>
            </dict>
            <key>room/pp.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1956},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>room/q.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1888},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>room/qp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1511},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1820},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>room/qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1451},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{235,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,128}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>room/renWu.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,701},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>room/renWu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,576},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>room/s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{230,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,123}}</string>
                <key>sourceSize</key>
                <string>{230,123}</string>
            </dict>
            <key>room/u.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,351},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>room/uu.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,282},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>room/v.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1749},{69,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,50}}</string>
                <key>sourceSize</key>
                <string>{69,50}</string>
            </dict>
            <key>room/vv.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1678},{69,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,50}}</string>
                <key>sourceSize</key>
                <string>{69,50}</string>
            </dict>
            <key>room/w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/wfHongSe.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,503},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>room/wfHuangSe.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,836},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>room/wfLvSe.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1640},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>room/ww.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1388},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1385},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1325},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/yaZhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,639},{105,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,29}}</string>
                <key>sourceSize</key>
                <string>{105,29}</string>
            </dict>
            <key>room/youXiHuoDong.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,814},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,77}}</string>
                <key>sourceSize</key>
                <string>{48,77}</string>
            </dict>
            <key>room/youXiHuoDong0.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,764},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,77}}</string>
                <key>sourceSize</key>
                <string>{48,77}</string>
            </dict>
            <key>room/yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1262},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/zhiXiangDeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1637},{395,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,139}}</string>
                <key>sourceSize</key>
                <string>{395,139}</string>
            </dict>
            <key>room/zhunBei0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,951},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>room/zhunBei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,888},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>room/zuanShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1199},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>room/zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1199},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>room/zzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{196,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,35}}</string>
                <key>sourceSize</key>
                <string>{196,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{358,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:572ccea3870d389a30d8d4cabcd4913a$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
