<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip/fenGeXian.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{3,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,536}}</string>
                <key>sourceSize</key>
                <string>{3,536}</string>
            </dict>
            <key>vip/gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>vip/jingYanTiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{236,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,19}}</string>
                <key>sourceSize</key>
                <string>{236,19}</string>
            </dict>
            <key>vip/jingYanTiaoTianChong.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,540},{236,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,19}}</string>
                <key>sourceSize</key>
                <string>{236,19}</string>
            </dict>
            <key>vip/linQu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{78,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,61}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>vip/linQu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,61}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>vip/lingQu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,61}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>vip/quChongZhi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{150,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,44}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>vip/quChongZhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{150,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,44}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip.png</string>
            <key>size</key>
            <string>{70,825}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aac8250e4c1bbb92a736c60bb9b808e$</string>
            <key>textureFileName</key>
            <string>vip.png</string>
        </dict>
    </dict>
</plist>
