<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firstCharge/gouMai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{217,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,73}}</string>
                <key>sourceSize</key>
                <string>{217,73}</string>
            </dict>
            <key>firstCharge/gouMai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,73}}</string>
                <key>sourceSize</key>
                <string>{217,73}</string>
            </dict>
            <key>firstCharge/shachu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,43},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>firstCharge/shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>firstCharge.png</string>
            <key>size</key>
            <string>{481,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:874f3b39fdf09675799c052307033914$</string>
            <key>textureFileName</key>
            <string>firstCharge.png</string>
        </dict>
    </dict>
</plist>
