<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>market/chuchou0.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1515},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>market/chuchou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1350},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>market/chushouanniu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1212},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
            <key>market/chushouanniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1074},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
            <key>market/dealSelectButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1673},{347,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,61}}</string>
                <key>sourceSize</key>
                <string>{347,61}</string>
            </dict>
            <key>market/dealSelectButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{347,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,61}}</string>
                <key>sourceSize</key>
                <string>{347,61}</string>
            </dict>
            <key>market/editButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1680},{347,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,43}}</string>
                <key>sourceSize</key>
                <string>{347,43}</string>
            </dict>
            <key>market/goldMarket01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{304,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,76}}</string>
                <key>sourceSize</key>
                <string>{304,76}</string>
            </dict>
            <key>market/goldMarket02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{304,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,76}}</string>
                <key>sourceSize</key>
                <string>{304,76}</string>
            </dict>
            <key>market/goumai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,936},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
            <key>market/goumai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,798},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
            <key>market/myMarket01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{300,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,76}}</string>
                <key>sourceSize</key>
                <string>{304,78}</string>
            </dict>
            <key>market/myMarket02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{300,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,76}}</string>
                <key>sourceSize</key>
                <string>{304,78}</string>
            </dict>
            <key>market/shuaXin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{135,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,51}}</string>
                <key>sourceSize</key>
                <string>{135,51}</string>
            </dict>
            <key>market/shuaXin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,51}}</string>
                <key>sourceSize</key>
                <string>{135,51}</string>
            </dict>
            <key>market/xiaJia0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,660},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
            <key>market/xiaJia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,522},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
            <key>market/yiGouMai.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,384},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
            <key>market/yiShouChu.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,246},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
            <key>market/yiXiaJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,108},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>market.png</string>
            <key>size</key>
            <string>{139,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6a919ccbe896d156f315eb16379b923$</string>
            <key>textureFileName</key>
            <string>market.png</string>
        </dict>
    </dict>
</plist>
