<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lucky_buy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,257},{183,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,61}}</string>
                <key>sourceSize</key>
                <string>{183,61}</string>
            </dict>
            <key>lucky_buy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{183,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,61}}</string>
                <key>sourceSize</key>
                <string>{183,61}</string>
            </dict>
            <key>lucky_card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{131,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{131,183}}</string>
                <key>sourceSize</key>
                <string>{163,215}</string>
            </dict>
            <key>lucky_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,193},{92,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,116}}</string>
                <key>sourceSize</key>
                <string>{94,116}</string>
            </dict>
            <key>lucky_myself.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,287},{137,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>lucky_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{137,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>lucky_turn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,295},{110,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,42}}</string>
                <key>sourceSize</key>
                <string>{110,42}</string>
            </dict>
            <key>lucky_turn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,251},{110,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,42}}</string>
                <key>sourceSize</key>
                <string>{110,42}</string>
            </dict>
            <key>rewardFree01.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,304},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>rewardFree02.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,304},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>rewardLucky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,339},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>rewardLucky02.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,339},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>rewardOnline01.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,240},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>rewardOnline02.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,114},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>rewardTask01.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,187},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>rewardTask02.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,442},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>rewardTaskEvery01.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,294},{211,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,59}}</string>
                <key>sourceSize</key>
                <string>{211,59}</string>
            </dict>
            <key>rewardTaskEvery02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,294},{211,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,59}}</string>
                <key>sourceSize</key>
                <string>{211,59}</string>
            </dict>
            <key>rewardTaskSelf01.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,294},{211,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,59}}</string>
                <key>sourceSize</key>
                <string>{211,59}</string>
            </dict>
            <key>rewardTaskSelf02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,294},{211,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,59}}</string>
                <key>sourceSize</key>
                <string>{211,59}</string>
            </dict>
            <key>rewardTaskSys01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{212,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,59}}</string>
                <key>sourceSize</key>
                <string>{212,59}</string>
            </dict>
            <key>rewardTaskSys02.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,294},{211,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,59}}</string>
                <key>sourceSize</key>
                <string>{211,59}</string>
            </dict>
            <key>reward_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{290,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,106}}</string>
                <key>sourceSize</key>
                <string>{290,106}</string>
            </dict>
            <key>reward_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{290,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,106}}</string>
                <key>sourceSize</key>
                <string>{290,106}</string>
            </dict>
            <key>reward_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,106}}</string>
                <key>sourceSize</key>
                <string>{290,106}</string>
            </dict>
            <key>reward_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,178},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>reward_get01.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>reward_get_not.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>reward_get_suc.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,257},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>reward_move_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{155,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,110}}</string>
                <key>sourceSize</key>
                <string>{155,110}</string>
            </dict>
            <key>reward_time_not.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,193},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newReward.png</string>
            <key>size</key>
            <string>{942,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61e50ed7864a26e4a95655bb2645b327:1/1$</string>
            <key>textureFileName</key>
            <string>newReward.png</string>
        </dict>
    </dict>
</plist>
