<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task/YilingQu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{132,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{132,56}</string>
            </dict>
            <key>task/geRenRenWu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{200,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>task/geRenRenWu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>task/lingQuJiangLi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,2},{132,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,55}}</string>
                <key>sourceSize</key>
                <string>{132,55}</string>
            </dict>
            <key>task/lingQuJiangLi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{132,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,55}}</string>
                <key>sourceSize</key>
                <string>{132,55}</string>
            </dict>
            <key>task/lingQuJiangLi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{132,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{132,56}</string>
            </dict>
            <key>task/meiRiRenWu.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>task/meiRiRenWu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>task/xiTongRenWu.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>task/xiTongRenWu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{1750,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaefdb3aedd2c33d17dd7571fabd416c$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
