<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newAllKill/BangZu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1606},{65,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,92}}</string>
                <key>sourceSize</key>
                <string>{65,92}</string>
            </dict>
            <key>newAllKill/BangZu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1512},{65,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,92}}</string>
                <key>sourceSize</key>
                <string>{65,92}</string>
            </dict>
            <key>newAllKill/JiaHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1933},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>newAllKill/JiaHao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1849},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>newAllKill/JinBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1002},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>newAllKill/back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1933},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>newAllKill/back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1764},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>newAllKill/banTouMing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1509},{195,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,160}}</string>
                <key>sourceSize</key>
                <string>{195,160}</string>
            </dict>
            <key>newAllKill/biaoZhuKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1379},{197,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,161}}</string>
                <key>sourceSize</key>
                <string>{197,161}</string>
            </dict>
            <key>newAllKill/dengDaiKaiJu.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1740},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,23}}</string>
                <key>sourceSize</key>
                <string>{95,23}</string>
            </dict>
            <key>newAllKill/diKuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1227},{294,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,135}}</string>
                <key>sourceSize</key>
                <string>{294,135}</string>
            </dict>
            <key>newAllKill/dingCenJinBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1793},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>newAllKill/duiHuanJinBi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1826},{76,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,97}}</string>
                <key>sourceSize</key>
                <string>{76,97}</string>
            </dict>
            <key>newAllKill/duiHuanJinBi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1917},{76,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,97}}</string>
                <key>sourceSize</key>
                <string>{76,97}</string>
            </dict>
            <key>newAllKill/faSongAnNiu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1933},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>newAllKill/faSongAnNiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1933},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>newAllKill/ganTanHao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,429},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>newAllKill/ganTanHao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,395},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>newAllKill/jiXuAnNiu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{186,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,59}}</string>
                <key>sourceSize</key>
                <string>{186,59}</string>
            </dict>
            <key>newAllKill/jiXuAnNiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1671},{186,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,59}}</string>
                <key>sourceSize</key>
                <string>{186,59}</string>
            </dict>
            <key>newAllKill/liaoTianDiKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{389,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,607}}</string>
                <key>sourceSize</key>
                <string>{389,607}</string>
            </dict>
            <key>newAllKill/light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1043},{374,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,67}}</string>
                <key>sourceSize</key>
                <string>{374,67}</string>
            </dict>
            <key>newAllKill/light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{396,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,76}}</string>
                <key>sourceSize</key>
                <string>{396,76}</string>
            </dict>
            <key>newAllKill/light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{363,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,55}}</string>
                <key>sourceSize</key>
                <string>{363,55}</string>
            </dict>
            <key>newAllKill/neiKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,433}}</string>
                <key>sourceSize</key>
                <string>{352,433}</string>
            </dict>
            <key>newAllKill/qianBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1794},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>newAllKill/sanZhangPaiDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1417},{197,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,90}}</string>
                <key>sourceSize</key>
                <string>{197,90}</string>
            </dict>
            <key>newAllKill/shanchu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,959},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>newAllKill/shanchu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,916},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>newAllKill/shangZhuang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1740},{153,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,52}}</string>
                <key>sourceSize</key>
                <string>{153,52}</string>
            </dict>
            <key>newAllKill/shangZhuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1686},{153,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,52}}</string>
                <key>sourceSize</key>
                <string>{153,52}</string>
            </dict>
            <key>newAllKill/shangZhuangLieBiao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,785},{129,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,44}}</string>
                <key>sourceSize</key>
                <string>{129,44}</string>
            </dict>
            <key>newAllKill/shangZhuangLieBiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,654},{129,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,44}}</string>
                <key>sourceSize</key>
                <string>{129,44}</string>
            </dict>
            <key>newAllKill/shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1236},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>newAllKill/suChongKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,463},{189,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,46}}</string>
                <key>sourceSize</key>
                <string>{189,46}</string>
            </dict>
            <key>newAllKill/touXiangKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1826},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>newAllKill/woYaoXiaZhuang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1632},{153,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,52}}</string>
                <key>sourceSize</key>
                <string>{153,52}</string>
            </dict>
            <key>newAllKill/woYaoXiaZhuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1578},{153,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,52}}</string>
                <key>sourceSize</key>
                <string>{153,52}</string>
            </dict>
            <key>newAllKill/xiaZhuShijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1793},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>newAllKill/xiaoXiKuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{270,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,51}}</string>
                <key>sourceSize</key>
                <string>{270,51}</string>
            </dict>
            <key>newAllKill/yinHang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1417},{70,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,93}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>newAllKill/yinHang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1141},{70,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,93}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>newAllKill/ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1794},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>newAllKill/zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,356},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>newAllKill/zongJiangChi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1169},{362,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,56}}</string>
                <key>sourceSize</key>
                <string>{362,58}</string>
            </dict>
            <key>newAllKill/zouShiTu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1837},{60,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{60,94}</string>
            </dict>
            <key>newAllKill/zouShiTu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1045},{60,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{60,94}</string>
            </dict>
            <key>newAllKill/zuanShiDa.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1700},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newAllKill.png</string>
            <key>size</key>
            <string>{441,1999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:838845567d91840cbca4165aa6d25da5$</string>
            <key>textureFileName</key>
            <string>newAllKill.png</string>
        </dict>
    </dict>
</plist>
