<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,262},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>chip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,132},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>chip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>chip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>chip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>chip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>chip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chip.png</string>
            <key>size</key>
            <string>{392,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ca5f769c46a30cee3e4fd32395d110d$</string>
            <key>textureFileName</key>
            <string>chip.png</string>
        </dict>
    </dict>
</plist>
