<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firecracker/p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,162},{68,154}}</string>
                <key>offset</key>
                <string>{-23,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,12},{68,154}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p10.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,162},{78,106}}</string>
                <key>offset</key>
                <string>{-16,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,12},{78,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,124},{90,94}}</string>
                <key>offset</key>
                <string>{-7,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,13},{90,94}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p12.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,162},{78,74}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,36},{78,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p13.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,196},{38,66}}</string>
                <key>offset</key>
                <string>{-8,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,41},{38,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{2,2}}</string>
                <key>offset</key>
                <string>{-51,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,197},{2,2}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{180,206}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{164,204}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{164,204}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{164,192}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{164,192}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{164,192}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{164,192}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p6.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{112,158}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,13},{112,158}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p7.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{114,158}}</string>
                <key>offset</key>
                <string>{-13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,12},{114,158}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p8.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{132,158}}</string>
                <key>offset</key>
                <string>{-16,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{132,158}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>firecracker/p9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{94,120}}</string>
                <key>offset</key>
                <string>{-24,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{94,120}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>firecracker.png</string>
            <key>size</key>
            <string>{1142,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e45ac13828db250f9e3461bc352be0d0$</string>
            <key>textureFileName</key>
            <string>firecracker.png</string>
        </dict>
    </dict>
</plist>
