<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,146},{110,50}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{110,50}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>activityButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,176},{88,40}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{88,40}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>allKill_Button_Box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,150},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>allKill_Button_Box02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>duiJiangButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,200},{126,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{126,42}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>duiJiangButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,244},{102,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{102,34}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>duiJiangIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,220},{66,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,43}}</string>
                <key>sourceSize</key>
                <string>{66,43}</string>
            </dict>
            <key>editIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,220},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>emailButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,192},{110,42}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{110,42}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>emailButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,114},{88,34}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{88,34}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>ex_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,57},{145,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,29}}</string>
                <key>sourceSize</key>
                <string>{145,29}</string>
            </dict>
            <key>ex_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{141,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{141,25}}</string>
                <key>sourceSize</key>
                <string>{145,29}</string>
            </dict>
            <key>fastBegin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{291,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{291,98}}</string>
                <key>sourceSize</key>
                <string>{291,100}</string>
            </dict>
            <key>fastBegin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,102},{261,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{261,88}}</string>
                <key>sourceSize</key>
                <string>{291,100}</string>
            </dict>
            <key>firstRecharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,198},{97,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,79}}</string>
                <key>sourceSize</key>
                <string>{97,79}</string>
            </dict>
            <key>freeGolden.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,198},{97,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,77}}</string>
                <key>sourceSize</key>
                <string>{97,79}</string>
            </dict>
            <key>goldBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{267,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,53}}</string>
                <key>sourceSize</key>
                <string>{267,53}</string>
            </dict>
            <key>goldDeal01.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,57},{116,56}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>goldDeal02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,236},{92,46}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{92,46}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>goldenBuy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,115},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>goldenBuy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,115},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>hallBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,215},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>hallVipButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,77},{97,75}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{97,75}}</string>
                <key>sourceSize</key>
                <string>{97,79}</string>
            </dict>
            <key>hallVipButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,77},{97,75}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{97,75}}</string>
                <key>sourceSize</key>
                <string>{97,79}</string>
            </dict>
            <key>hallsetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,56},{110,56}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{110,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>hallsetting02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,236},{88,46}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{88,46}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>itemBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,196}}</string>
                <key>sourceSize</key>
                <string>{264,196}</string>
            </dict>
            <key>moreButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,169},{100,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{100,36}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>moreButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,102},{80,28}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{80,28}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>rankButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{134,50}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{134,50}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>rankButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,169},{108,40}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{108,40}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>shopButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,88},{112,56}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>shopButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,192},{90,44}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{90,44}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>taskButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,115},{110,52}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{110,52}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>taskButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,176},{88,42}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{88,42}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>yuleButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{120,52}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,52}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>yuleButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,192},{96,42}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{96,42}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NewGameHall.png</string>
            <key>size</key>
            <string>{1019,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3048e7cdeae46c796584dbb7976c923a:1/1$</string>
            <key>textureFileName</key>
            <string>NewGameHall.png</string>
        </dict>
    </dict>
</plist>
